<!--navbar-fixed-top-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="" ng-click="method">Student</a></li>
            <li><a href="#">Teacher</a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Student
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="student_add">Create Student</a></li>
                    <li><a href="#">Remove Student</a></li>
                    <li><a ui-sref="student_search">Search Student</a></li>
                </ul>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>