<table id="personTable" class="table table-hover">
    <tr>
        <th></th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>DOB</th>
        <th>Mobile</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>Actions</th>
    </tr>
    <tbody ng-repeat="person in persons">
        <tr>
            <td></td>
            <td>{{person.firstName}}</td>
            <td>{{person.lastName}}</td>
            <td>{{person.dob}}</td>
            <td>{{person.mobile}}</td>
            <td>{{person.phone}}</td>
            <td>{{person.gender}}</td>
            <td>
                <!--<button type="button" class="btn btn-info">Info</button>-->
                <!--<button type="button" class="btn btn-danger">Danger</button>-->
                <a href="#" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a href="" ng-click="removeStudent(person.id);" class="btn btn-danger btn-lg">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
    </tbody>

</table>