<form ng-submit="searchStudent(student)" method="post">
    <table class="table table-hover">
        <tr>
            <td>
                <label for="firstname">Firstname</label>
                <input type="text" class="form-control" id="firstname" name="firstname" ng-model="student.firstname" placeholder="firstname">
            </td>
            <td>
                <label for="lastname">Lastname</label>
                <input type="text" class="form-control" id="lastname" ng-model="student.lastname" placeholder="lastname">
            </td>
            <td>
                <label for="mobile">Mobile</label>
                <input type="text" class="form-control" id="mobile" ng-model="student.mobile" placeholder="9988776655">
            </td>
            <td>
                <label for="phone">Landline</label>
                <input type="text" class="form-control" id="phone" ng-model="student.phone" placeholder="26345267">
            </td>
        </tr>

        <tr>
            <td>
                <label for="gender">Gender</label>
                <div>
                    <input class="form-check-input" type="radio" name="gender_male" id="gender_male" ng-model="student.gender" value="MALE" checked>
                    Male
                </div>
                <div>
                    <input class="form-check-input" type="radio" name="gender_female" id="gender_female" ng-model="student.gender" value="FEMALE">
                    Female
                </div>
            </td>
            <td>
                <label for="dob">DOB</label>
                <input type="date" class="form-control" id="dob" ng-model="student.dob" placeholder="DD/MM/YYYY">
            </td>
            <td>
                <label for="status">Status</label>
                <select ng-model="student.status" id="status" ng-options="status for status in statuses" ng-init="student.status=statuses[0]">
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-primary">Search</button>
            </td>
        </tr>

    </table>
</form>